.item {
    background-color: rgb(116, 127, 177);
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
        background-color: rgb(96, 107, 157); /* Darken slightly on hover */
    }

    &.completed {
        text-decoration: line-through;
        color: rgba(0, 0, 0, 0.5);
        background-color: rgb(96, 107, 157);
    }
}

.toggles {
    color: rgb(54, 158, 172);
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
        color: rgb(34, 138, 152);
    }
}

.name {
    padding-top: 3px;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
}

.remove {
    padding-left: 0;
    color: rgb(200, 50, 50);
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
        color: rgb(180, 30, 30);
    }
}

button {
    font-size: 1em;
    background-color: rgb(54, 158, 172);
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgb(34, 138, 152);
    }


}

button:disabled {
    background-color: rgb(180, 180, 180);
    cursor: not-allowed;
}

